<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.levtech.rookie.sutoproject.repository.mybatis.TaskMapper">

	<select id="findAll" resultType="jp.levtech.rookie.sutoproject.model.Task">
	
		SELECT
			task_id,
			task_name,
			completed
		FROM
			tasks
	</select>
	
	<select id="findById" resultType="jp.levtech.rookie.sutoproject.model.Task">
		SELECT
			task_id,
			task_name,
			completed
		FROM
			tasks
		WHERE
			task_id = #{taskId}
	</select>
	
	
	<insert id="register" >
		INSERT INTO tasks (
			task_name,
			completed
		) VALUES(
			#{taskName},
			#{completed}
		)
	</insert>
	
	<update id="update">
		UPDATE
			tasks
		SET
			task_name = #{taskName},
			completed = #{completed}
		WHERE
			task_id = #{taskId}
	</update>
	
	<delete id= "delete">
		DELETE FROM
			tasks
		WHERE
			task_id = #{taskId}
	</delete>
</mapper>