<!DOCTYPE html>
<!--/*
	thから始まる属性はHTMLの仕様では許可されていない。
	そのため、htmlタグにxmlns:th属性を追加して、IDLが警告を出さないようにしている。
 */-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>map</title>
	<link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="h-screen m-0">

	<h1 class="text-3xl font-semibold mb-7">登録店舗マップ</h1>
	<div class="fixed top-4 right-4 flex space-x-2 z-50">
		<form id="logout-form" th:action="@{/logout}" method="post">
			<button type="submit" onclick="return confirm('ログアウトしますか？')"
				class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
				ログアウト
			</button>
		</form>
		<a th:href="@{/lecture/newstore}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">切り替え</a>
	</div>
	<div id="side-panel"
		class="fixed top-0 right-0 w-96 h-full bg-white shadow-lg hidden z-40 transition-transform duration-300">
		<div class="p-4">
			<h2 class="text-xl font-bold mb-4">店舗詳細</h2>
			<h2 id="place-name">名前</h2>
			<p id="place-address">住所</p>
			<div class="flex items-center space-x-4">
				<p id="place-rating">評価</p>
				<form th:action="@{/lecture/rankupdate}" th:method="post">
					<select id="update-rank" name="evalation">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<input type="hidden" name="placeId" />

					<button type="submit"
						class="bg-gray-300 px-4 py-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 z-50">評価を更新</button>
				</form>
			</div>
			<p>ここに好きな内容を表示できます</p>

			<!--		メモ欄-->
			<div class="mb-4">
				<form id="update-memo" th:action="@{/lecture/update}" th:method="post">
					<label for="memo" class="block text-base font-medium text-gray-700 mb-1">メモ</label>
					<textarea type="text" name="memo" placeholder="ここにメモを入力..."
						class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"></textarea>

					<!-- JSでセットするためのhidden input -->
					<input type="hidden" name="placeId" />

					<button type="submit"
						class="bg-gray-300 px-4 py-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 z-50">更新</button>
				</form>

				<!--		    <textarea id="memo" class="w-full h-40 p-2 border rounded resize-none" placeholder="ここにメモを入力..."></textarea>-->
			</div>

			<button id="panel-close-button" class="mt-4 bg-gray-300 px-4 py-2 rounded hover:bg-gray-400">閉じる</button>
			<button id="visit-button"
				class="mt-4 bg-gray-300 px-4 py-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 z-50">訪問</button>
		</div>
	</div>

	<div class="h-full flex flex-col">


		<div class="relative flex-1">
			<div id="map" class="absolute inset-0"></div>

		</div>


		<input id="pac-input" class="w-72 p-2 rounded border bg-white shadow text-sm ml-2 mt-2" type="text"
			placeholder="場所を検索">
	</div>
	<!--		PlaceIdをjsファイルに渡す-->
	<script th:inline="javascript">
		const storeInformation = /*[[${storeInformation}]]*/[];
	</script>

	<script defer
		th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleApiKey} +'&language=ja&loading=async&libraries=places,marker&callback=initMap'"></script>
	<script th:src="@{/javascript/lecture.js}"></script>

	<script>
		document.getElementById("panel-close-button").addEventListener("click", () => {
			document.getElementById("side-panel").classList.add("hidden");
		});

	</script>




</body>

</html>