<!DOCTYPE html>
<!--/*
	thから始まる属性はHTMLの仕様では許可されていない。
	そのため、htmlタグにxmlns:th属性を追加して、IDLが警告を出さないようにしている。
 */-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Google map</title>
	<link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body>
	<h1>Map</h1>
		
		
	<button id="modal-open-button" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">モーダルを開く</button>
		<hr/>

		<!-- オーバーレイ -->
			<div id="overlay" class="fixed flex inset-0 bg-black bg-opacity-50 z-50 hidden items-center justify-center">
			 <!-- モーダル -->
				<div id="modal" class="bg-white p-6 rounded-lg shadow-lg max-w-3xl w-full">
			    	<h2 class="text-xl font-semibold mb-4">Google Map</h2>
			    	<div id="map" class="w-full h-96 mb-4"></div>
			    	<button id="modal-close-button" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">閉じる</button>
			  	</div>
			</div>
		
		
		<script defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleApiKey} +'&language=ja&loading=async&libraries=marker&callback=initMap'"></script>
		<script th:src="@{/javascript/lecture.js}"></script>
		
		

</body>
</html>