<!DOCTYPE html>
<!--/*
	th,secから始まる属性はHTMLの仕様では許可されていない。
	そのため、htmlタグにxmlns:th属性とxmlns:sec属性を追加して、IDLが警告を出さないようにしている。
 */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="bg-gray-100 text-gray-900">
	<div class="flex flex-col space-y-4 items-center justify-center h-screen text-xl bg-gradient-to-br from-purple-800 via-indigo-900 to-blue-900">
		<!--/* ログインエラーがある場合はエラー内容を表示する。 */-->
		<span th:if="${param.error}" style="color: red;">ユーザ名またはパスワードが間違っています</span>
		<!--/* ログインボタンをクリックした際に /login に対してPOSTメソッドでHTTPリクエストするためのフォーム。 */-->
			<form method="post" th:action="@{/login}" class="flex flex-col space-y-6">
				<div class="flex flex-col space-y-4">
					<label for="username" class="font-bold text-white">ユーザー名</label>
					<input id="username" type="text" name="username" placeholder="ユーザー名" class="w-full p-3 rounded-md bg-gray-900 bg-opacity-30 placeholder-gray-400 text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400"/>
				</div>
			
				<div class="flex flex-col space-y-4">
					<label for="password" class="font-bold text-white">パスワード</label>
					<input id="password" type="password" name="password" placeholder="パスワード" class="w-full p-3 rounded-md bg-gray-900 bg-opacity-30 placeholder-gray-400 text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400"/>
				</div>
			
				<button type="submit" class="w-full py-2 rounded bg-gradient-to-b from-blue-400 to-blue-600 text-white font-semibold shadow-inner shadow-blue-800 hover:from-blue-300 hover:to-blue-500 transition duration-300">ログイン</button>
			</form>	
	</div>
</body>
</html>