<!DOCTYPE html>
<!--/*
	thから始まる属性はHTMLの仕様では許可されていない。
	そのため、htmlタグにxmlns:th属性を追加して、IDLが警告を出さないようにしている。
 */-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo編集</title>
</head>
<body>
	<h1>ToDo編集</h1>
	<!--/* ログアウトボタンをクリックした際に /logout に対してPOSTメソッドでHTTPリクエストするためのフォーム。 */-->
		<form method="post" th:action="@{/logout}">
			<button type="submit">ログアウト</button>
		</form>
	
	<!--/* 更新ボタンをクリックした際に /todo/{taskId}/update に対してPOSTメソッドでHTTPリクエストするためのフォーム。 */-->
	<form method="post" th:action="@{/todo/{id}/update(id=${taskId})}" th:object="${updateTaskForm}">
		<label for="task-name">タスク名</label>
		<!--/*
					/todo/{taskId}/update は ToDoController.update() にマッピングされるため、引数名の taskName を指定する。
				*/-->
		<input id="task-name" type="text" placeholder="タスク名" th:field="*{taskName}">
		<!--/*バリデーションエラーがある場合はエラー内容を表示する*/-->
		<span th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}" style="color:red;"></span>
		
		
		<label for="task-status">完了</label>
		<!--/*
					/todo/{taskId}/update は ToDoController.update() にマッピングされるため、引数名の completed を指定する。
				*/-->
		<input id="task-status" type="checkbox" th:field="*{completed}">
		
		<button type="submit"> 更新</button>
	</form>
	<!--/*詳細画面へ遷移するためのリンク*/-->
	<a href="details.html" th:href="@{/todo/{id}(id=${taskId})}">戻る</a>

</body>
</html>